$bg-color: #c8c8c3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
  font-size: 20px;
}

.app {
  text-align: center;
}

.loading {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid rgb(95, 95, 255);
  border-bottom: 6px solid rgb(95, 95, 255);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}